@charset 'UTF-8';

// funcs.
@import "../_inc/funcs/_color";
@import "../_inc/funcs/_mixin";

// vars.
@import "../_inc/vars/css-var-global.scss";


.mainboard{

    @media (max-width: 1080px) {
        margin-left: -$side-set--size-pad;
    }
    @media (max-width: 768px) {
        margin-left: -$side-set--size-pad;
    }
    @media (max-width: 568px) {
        position: absolute !important;;

        max-width: $header-height-mobile !important;

        margin-left: -$header-height-mobile !important;

        .mobile-nav-activator,
        .mobile-nav-deactivator {
            display: none !important;
        }
    }
}