@charset 'UTF-8';


// funcs.
@import "../_inc/funcs/_color";
@import "../_inc/funcs/_mixin";

// vars.
@import "../_inc/vars/css-var-global.scss";


// side-bar add.
.side-bar-container {
    margin-left: -$side-set--size;

    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    @media (max-width: 1080px) {
        margin-left: -$side-set--size-pad;
    }
    @media (max-width: 768px) {
        margin-left: -$side-set--size-pad;
    }
    @media (max-width: 568px) {
        position: absolute !important;;

        max-width: $header-height-mobile !important;

        margin-left: -$header-height-mobile !important;

        .mobile-nav-activator,
        .mobile-nav-deactivator {
            display: none !important;
        }
    }

    .sb--header-wrap {
        margin-left: 100%;
    }
}
.side-bar-flip {
    .side-bar-container {
        margin-left: -$side-set--size-fliped-pad;

        @media (max-width: 568px) {
            margin-left: -$header-height-mobile !important;
        }
    }
}

// header add.
.header-container {
    height: $header-height;

    background-color: $codelink-color-default;

    @media (max-width: 768px) {
        height: $header-height-pad;
    }
    @media (max-width: 568px) {
        height: $header-height-mobile;
    }

    .header-wrap {
        padding-left: $side-set--size + 20px;

        white-space: nowrap;

        @media (max-width: 1080px) {
            padding-left: $side-set--size-pad + 20px;
        }
        @media (max-width: 768px) {
            height: $header-height-pad;

            padding-left: $side-set--size-fliped-pad + 20px;
        }
        @media (max-width: 568px) {
            height: $header-height-mobile;

            padding-left: 15px !important;
        }

        .menu-container {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            width: 100%;

            text-align: right;

            .button-group {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                a {
                    position: relative;

                    margin: 0;
                    padding: 0;

                    line-height: 0;
                }
                .btn {
                    position: relative;

                    padding: 0 1.25rem;

                    line-height: $header--logo-height;

                    @media (max-width: 900px) {
                        padding: 0 .75em;
                    }
                    @media (max-width: 768px) {
                        padding: 0 .5em;

                        line-height: $header--logo-height-pad;
                    }
                    @media (max-width: 568px) {
                        line-height: $header--logo-height-mobile;
                    }

                    &:after {
                        content: '';
                        @include tPosition(0, 50%, 0);

                        right: -.5px;
                        left: initial;

                        width: 1px;
                        height: 20px;

                        background-color: rgba(255, 255, 255, .1);
                    }

                    &:first-child {}
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }

                    .icon {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;

                        width: 1.5em;
                        height: auto;

                        @media (max-width: 640px) {
                            width: 22px;
                        }
                    }

                    .text {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;

                        color: #fff;
                        font-size: 14px;

                        @media (max-width: 1080px) {
                            font-size: 13px;
                        }
                        @media (max-width: 800px) {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: -.025em;
                        }
                        @media (max-width: 640px) {
                            display: none;
                            overflow: hidden;

                            width: 0;

                            font-size: 11px;
                        }
                        @media (max-width: 568px) {
                            font-size: 10px;
                        }
                        @media (max-width: 480px) {
                        }
                    }
                }
            }
        }

        .title-container {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            .title-text {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                margin-left: 5px;

                font-size: 18px;
                font-weight: bold;
                font-weight: bolder;
                font-weight: 800;
                font-weight: 900;
                line-height: $header--logo-height;
                letter-spacing: -.04em;

                @media (max-width: 800px) {
                    padding: 0;

                    font-size: 15px;
                }
                @media (max-width: 768px) {
                    line-height: $header--logo-height-pad;
                }
                @media (max-width: 640px) {
                    margin-left: 0;
                }
                @media (max-width: 568px) {
                    font-size: 13px;
                }
                @media (max-width: 425px) {
                    line-height: $header--logo-height / 2;
                }

                .tt--description {
                    margin-left: 4px;

                    font-size: 13px;
                    font-weight: normal;
                    font-weight: lighter;
                    font-weight: 300;
                    font-weight: 200;
                    font-weight: 100;
                    letter-spacing: 0;

                    opacity: .5;

                    @media (max-width: 800px) {
                        font-size: 12px;
                    }
                    @media (max-width: 568px) {
                        font-size: 10px;
                    }
                    @media (max-width: 425px) {
                        display: block;

                        margin-left: 0;

                        line-height: 1;
                    }
                }
            }
        }

        &.set-flex {
            display: -webkit-flex;
            display: flex;

            .menu-container {
                -webkit-flex: initial;
                        flex: initial;
            }

            .title-container {
                -webkit-flex: 1;
                        flex: 1;
            }
        }
    }
}
.sign-up-agreement,
.sign-up-informations,
.sign-up-registration-complete {
    .header-container {
        background-color: #333;
    }
}

.main-container {
    background-color: #fff;

    .main-wrap {
        // @media (max-width: 640px) {
        //     padding: 3em 2.5em;
        // }
        // @media (max-width: 480px) {
        //     padding: 2em 1.5em;
        // }
        // @media (max-width: 320px) {
        //     padding: 2em 1em;
        // }

        .section-container {
            text-align: center;

        	@media (max-width: 640px) {
        		padding: 0;
        	}
        }

        .container {
        	@media (max-width: 800px) {
        		max-width: 100%;
        	}
        }
    }
}

.sign-in-form {
    // .section-container {
        position: relative;
        display: inline-block;

        width: 100%;

        margin-right: auto;
        margin-left: auto;

        padding: 4em 0;
        padding-top: calc(4em + 90px);

        @media (max-width: 800px) {
            padding: 2em 0;
            padding-top: calc(2em + 90px);
        }
        @media (max-width: 768px) {
            padding-top: calc(2em + 80px);
        }
        @media (max-width: 640px) {
            padding: 0;
            padding-top: calc(3em + 80px);
        }

        .sign-in-container {
            position: relative;
            display: inline-block;

            width: 100%;
            max-width: 480px;

            margin-left: auto;
            margin-right: auto;

            text-align: left;

            .si--title {
                position: relative;

                .logo--text-only {
                    position: relative;
                    display: inline-block;

                    width: 70%;
                    height: auto;
                }
            }

            .si--sub-title {
                position: relative;

                margin-top: 5px;
                
                @media (max-width: 480px) {
                    margin-top: 0;
                }

                .sub-title {
                    position: relative;
                    display: inline-block;

                    .text {
                        z-index: 1;
                        position: relative;
                        display: inline-block;

                        width: auto;

                        padding-right: 7px;

                        color: #999;
                        font-size: 18px;
                        font-weight: bold;
                        font-weight: bolder;

                        background-color: #fff;

                        @media (max-width: 480px) {
                            font-size: 15px;
                        }
                        @media (max-width: 414px) {
                            font-size: 13px;
                        }
                    }

                    .bar {
                        @include tPosition(0, 50%, 0);

                        left: 15px;
                        right: 15px;

                        height: 1px;

                        background-color: rgba(#333, .1);
                    }
                }
            }

            .form-group {
                margin-bottom: 2rem;
                
                @media (max-width: 480px) {
                    margin-bottom: 1rem;
                }

                .input {
                    input {
                        margin-top: .3em;
                        margin-bottom: .3em;
                        padding: .6em 1em;

                        color: #222;
                        font-size: 20px;

                        border-color: #efefef;
                        border-radius: 0;
                        
                        @media (max-width: 480px) {
                            font-size: 15px;
                        }

                        &:focus {
                            border-color: #1c86c1;
                        }
                    }

                    &.input-id {
                        margin-top: 1rem;
                        
                        @media (max-width: 480px) {
                            margin-top: .5rem;
                        }
                    }
                    &.input-password {
                        margin-bottom: .25rem;
                    }
                }

                .checkbox {
                    .form-check {
                        margin: .5rem;

                        color: rgba(#444, .5);
                        font-size: 16px;
                        font-weight: lighter;
                    }
                }

                .button-group {
                    margin-top: .5rem;

                    .btn-login {
                        position: relative;

                        width: 100%;

                        padding: 1rem 1.15rem;

                        font-size: 20px;
                        text-align: left;

                        background-color: #1c86c1;
                        border: none;
                        border-radius: 0;
                        
                        @media (max-width: 480px) {
                            font-size: 15px;
                            font-weight: bold;
                        }

                        .icon {
                            @include tPosition(0, 50%, 0);

                            left: initial;
                            right: 1.15rem;

                            width: 1.5em;
                            height: auto;
                        }
                    }
                }
            }

            .si--add-on {
                margin: 1em 0;
                padding: 0 0 1em;

                border-bottom: 1px solid #efefef;
                
                @media (max-width: 480px) {
                    margin: .5em 0;
                }

                .left {
                    padding-right: 0;

                    .bar--description {
                        padding-right: 0;
                        padding-left: 0;

                        color: #444;
                        font-size: 13px;

                        margin-bottom: 0;

                        &:before {
                            content: '-';
                            position: relative;
                            display: inline-block;

                            margin-left: -.75em;
                            margin-right: .1em;
                        }
                    }
                }

                .right {
                    padding-right: 5px;
                    padding-left: 5px;

                    text-align: right;
                }
                .button-group {
                    position: relative;

                    align-items: flex-end;
                    justify-content: flex-end;

                    text-align: right;

                    .btn {
                        position: relative;

                        margin: 0 1px;
                        padding: 6px 10px;

                        color: #444444;
                        font-size: 12px;
                        font-weight: bold;
                        font-weight: 500;
                        text-align: center;
                        letter-spacing: -.025em;

                        background-color: transparent;
                        border-radius: 0;
                        border-color: #cccccc;

                        &.btn-sign-up {
                            width: 90px;

                            color: #1c86c1;
                            text-align: left;

                            border-color: #1c86c1;

                            .icon {
                                @include tPosition(0, 50%, 0);

                                left: initial;
                                right: 10px;

                                width: auto;
                                height: 38%;
                            }
                        }
                    }
                }

                @media (max-width: 640px) {
                    &.find-id-password,
                    &.sign-up-membership {
                        // position: relative;
                        // display: inline-block;
                        // vertical-align: top;

                        // width: 48.5%;

                        .col-6 {
                            flex: 0 0 100%;
                            max-width: 100%;

                            // .bar--description {
                            //     height: 4.5em;
                            // }
                        }

                        .button-group {
                            text-align: left;

                            .btn {
                                min-width: 100px;
                            }
                        }
                    }
                    // &.find-id-password {
                    //     margin-right: 2%;
                    // }
                }
            }
        }
    // }
}

.sign-up-form {
    // .section-container {
        position: relative;
        display: inline-block;

        width: 100%;

        margin-right: auto;
        margin-left: auto;

        padding: 4em 0;
        padding-top: calc(4em + 90px);

        text-align: left;

        @media (max-width: 800px) {
            padding: 2em 25px;
            padding-top: calc(2em + 90px);
        }
        @media (max-width: 768px) {
            padding-top: calc(2em + 80px);
        }
        @media (max-width: 640px) {
            padding-top: calc(3em + 70px);
        }
        @media (max-width: 568px) {
            padding-top: calc(2em + 70px);
        }

        .su--header {
            display: -webkit-flex;
            display: flex;

            margin-bottom: 10px;
            padding-bottom: 10px;

            border-bottom: 1px solid #eee;

            @media (max-width: 640px) {
                position: relative;
                display: block;
            }
            @media (max-width: 480px) {
                padding-bottom: 0;
            }

            .step-current {
                -webkit-flex: initial;
                        flex: initial;

                @media (max-width: 640px) {
                    -webkit-flex: none;
                            flex: none;
                }

                h1 {
                    font-size: 28px;
                    font-weight: lighter;

                    @media (max-width: 480px) {
                        font-size: 24px;
                    }
                }
            }

            .step-flow {
                -webkit-flex: 1;
                        flex: 1;

                text-align: right;

                @media (max-width: 640px) {
                    -webkit-flex: none;
                            flex: none;

                    position: relative;
                    display: block;

                    padding-left: 5px;

                    text-align: left;
                }
                @media (max-width: 480px) {
                    display: none;
                }

                .list-group-item {
                    padding: .325rem .825rem;

                    color: #666;
                    font-size: 14px;
                    font-weight: lighter;

                    border: none;

                    background-color: transparent;

                    @media (max-width: 800px) {
                        font-size: 13px;
                    }
                    @media (max-width: 640px) {
                        font-size: 12px;
                    }
                    @media (max-width: 480px) {
                        font-size: 11px;
                    }

                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                    &.spliter {
                        padding: .325rem 0;

                        .icon {
                            position: relative;

                            width: 7px;
                            height: auto;

                            margin-top: -2px;
                        }
                    }

                    &.active {
                        color: #1c86c1;
                        font-weight: bold;

                        background-color: transparent;
                    }
                }
            }
        }

        .su--sub-header {
            p {
                padding-right: 0;
                padding-left: 0;

                @media (max-width: 480px) {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        .su--agreement-form {
            margin-top: 40px;

            @media (max-width: 800px) {
                margin-top: 30px;
            }

            .su--af--wrap {
                margin-right: auto;
                margin-left: auto;

                @media (max-width: 1024px) {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
                @media (max-width: 800px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            .su--af--confirmation-all-agreement {
                margin-bottom: 30px;

                padding-top: 10px;
                padding-bottom: 10px;

                border-bottom: 2px solid #000;

                .checkbox-group {
                    .form-check {
                        margin-top: .25rem;
                        margin-bottom: 0;

                        label {
                            .text {
                                color: #111;
                                font-size: 16px;
                            }
                        }
                    }
                }

                .button-group {
                    text-align: right;

                    .btn {
                        color: #fff;
                        font-weight: bold;
                        font-size: 14px;

                        background-color: #1c86c1;
                        border: 0;
                        border-radius: 0;
                    }
                }
            }

            .su--af--agreement-item {
                position: relative;

                margin-top: 30px;
                margin-right: -15px;
                margin-left: -15px;

                .header-title {
                    margin-bottom: 10px;

                    padding-right: 15px;
                    padding-left: 15px;

                    font-size: 22px;
                    font-weight: bold;

                    @media (max-width: 800px) {
                        font-size: 18px;
                    }
                }

                .agreement-document {
                    position: relative;
                    overflow: hidden;

                    width: 100%;
                    height: 160px;
                    max-height: 160px;

                    margin-bottom: 10px;

                    padding: .375rem .75rem;

                    border-radius: 0;
                    border: 1px solid #eee;
                }

                .form-check-label {
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
        }

        .help-group {
            position: relative;

            margin-right: -15px;
            margin-left: -15px;
            padding: 1.25rem;

            color: #99999b;
            font-size: 14px;

            border: 1px solid #eee;

            @media (max-width: 800px) {
                font-size: 13px;
            }
            @media (max-width: 640px) {
                font-size: 12px;
            }

            p {
                text-align: center;
                line-height: 1.6;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #2b2b2d;
                    border-color: #2b2b2d;
                }
            }
        }

        .su--informations-form {
            .su--if--wrap {
                >.row {
                    margin-top: 40px;

                    .header-title {
                        padding-left: 10px;

                        font-size: 22px;
                        font-weight: bold;

                        @media (max-width: 800px) {
                            font-size: 18px;
                        }

                        .header-description {
                            position: relative;

                            margin-left: 2em;

                            color: #666666;
                            font-size: 13px;
                            font-weight: lighter;

                            @media (max-width: 800px) {
                                font-size: 11px;
                            }
                            @media (max-width: 640px) {
                                display: block;

                                margin-left: 0;
                            }

                            &:before {
                                content: '';
                                position: absolute;

                                top: 0;
                                left: -1em;

                                width: 1px;
                                height: 100%;

                                margin-left: -1px;

                                background-color: #f7f7f7;

                                @media (max-width: 640px) {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .form-group-wrap {
                    position: relative;

                    width: 100%;

                    border: 1px solid #eee;

                    &.activated {
                        border-color: rgba($codelink-color-default, .5);
                        box-shadow: 7px 7px 15px rgba($codelink-color-default, .05);
                    }

                    .form-group {
                        margin-bottom: 0;

                        padding-top: 20px;
                        padding-bottom: 20px;

                        border-bottom: 1px solid #f7f7f7;

                        &:last-child {
                            border-bottom: 0;
                        }
                    }

                    .col-title {
                        padding-left: 24px;

                        line-height: 3;

                        white-space: nowrap;

                        @media (max-width: 800px) {
                            -ms-flex: 0 0 30%;
                            flex: 0 0 30%;
                            max-width: 30%;

                            font-size: 13px;
                            line-height: 3.75;
                        }
                        @media (max-width: 640px) {
                            line-height: 3.25;
                        }
                        @media (max-width: 568px) {
                            -ms-flex: 0 0 100%;
                            flex: 0 0 100%;
                            max-width: 100%;

                            margin-bottom: 10px;

                            font-weight: bold;
                            line-height: 1;
                        }
                    }

                    .col-form {
                        white-space: nowrap;

                        @media (max-width: 800px) {
                            -ms-flex: 0 0 70%;
                            flex: 0 0 70%;
                            max-width: 70%;
                        }
                        @media (max-width: 568px) {
                            -ms-flex: 0 0 100%;
                            flex: 0 0 100%;
                            max-width: 100%;
                        }

                        &.break-wrap {
                            white-space: normal;
                        }

                        .form-control {
                            padding: .75rem 1rem;

                            border-color: #eee;
                            border-radius: 0;

                            @media (max-width: 640px) {
                                padding: .5rem .75rem;
                            }
                        }

                        input,
                        button {
                            display: inline-block;
                            vertical-align: top;

                            // margin-right: .2rem;

                            &.input-certification-number {
                                @media (max-width: 413px) {
                                    -ms-flex: 0 0 70%;
                                    flex: 0 0 70%;
                                    max-width: 70%;
                                }
                            }
                        }
                        .custom-select {
                            vertical-align: top;

                            height: calc(3rem + 2px);

                            padding-right: 1.5rem;

                            color: #444;
                            font-size: .8rem;

                            border-color: #eee;
                            border-radius: 0;

                            @media (max-width: 640px) {
                                height: calc(2.5rem + 2px);
                            }

                            &.select-telecom {
                                @media (max-width: 413px) {
                                    width: calc(30% - 4px);
                                }
                            }
                        }

                        .middle-item {
                            position: relative;
                            display: inline-block;

                            // margin-left: -.2rem;

                            line-height: 3;
                        }

                        .btn {
                            padding: .9rem 1rem;

                            font-size: .8rem;
                            font-weight: bold;

                            @media (max-width: 640px) {
                                padding: .657rem .75rem;
                            }

                            &.btn-send-certification-number {
                                @media (max-width: 800px) {
                                    // -ms-flex: 0 0 30%;
                                    // flex: 0 0 30%;
                                    // max-width: 30%;

                                    min-width: 112px;
                                }
                            }

                            &.btn-send-certification-number {
                                @media (max-width: 413px) {
                                    flex: none;
                                    display: block;

                                    width: 100%;
                                    max-width: 100%;

                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                    .su--if--sii-id {}
                    .su--if--ci--category {
                        .col-form {
                            .form-check {
                                margin-top: .75rem;
                            }
                        }
                    }

                    .col-helper {
                        @media (max-width: 800px) {
                            display: block;
                            flex: none;

                            width: 100%;
                            max-width: 100%;
                        }

                        .text {
                            @include tPosition(0, 50%, 0);

                            width: 100%;

                            padding-right: 15px;
                            padding-left: 1px;

                            color: #888888;
                            font-size: 12px;
                            line-height: 1.3;

                            @media (max-width: 800px) {
                                @include tPosition(0, 0, 0);

                                position: relative;
                                display: inline-block;

                                top: initial;
                                left: initial;

                                margin-top: 12px;

                                padding: 10px;
                                padding-bottom: 0;

                                border-top: 1px dashed #efefef;
                            }
                        }

                        .text-list {
                            @include tPosition(0, 50%, 0);

                            width: 100%;

                            padding-right: 15px;
                            padding-left: 1px;

                            p {
                                margin-bottom: 0;

                                padding: 3px 0 3px 5px;

                                color: #888888;
                                font-size: 12px;
                                line-height: 1.3;

                                &:before {
                                    position: absolute;

                                    margin-left: -7px;
                                }
                            }

                            @media (max-width: 800px) {
                                @include tPosition(0, 0, 0);

                                position: relative;
                                display: inline-block;

                                top: initial;
                                left: initial;

                                margin-top: 12px;

                                padding: 10px;
                                padding-bottom: 0;

                                border-top: 1px dashed #efefef;
                            }
                        }
                    }
                }
            }
        }

        .su--registration-complete {
            .su--rc--wrap {
                margin-right: auto;
                margin-left: auto;

                @media (max-width: 800px) {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .su--rc--message {
                    margin-top: 60px;
                    margin-bottom: 40px;

                    text-align: center;

                    h1 {
                        width: 100%;

                        font-size: 30px;
                        text-align: center;
                    }

                    p {
                        width: 100%;

                        color: #666666;
                        font-size: 13px;
                        text-align: center;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .button-group {
                    margin-top: 40px;
                    margin-bottom: 60px;

                    text-align: center;

                    .btn-login {
                        position: relative;

                        width: 100%;
                        max-width: 220px;

                        padding: 1rem 1.15rem;

                        font-size: 20px;
                        font-weight: bold;
                        text-align: left;

                        background-color: #1c86c1;
                        border: none;
                        border-radius: 0;
                        
                        @media (max-width: 480px) {
                            font-size: 15px;
                            font-weight: bold;
                        }

                        .icon {
                            @include tPosition(0, 50%, 0);

                            left: initial;
                            right: 1.15rem;

                            width: 1.5em;
                            height: auto;
                        }
                    }
                }
            }
        }
    // }
}

.button-group-action {
	margin-top: 40px;
	margin-right: -15px;
	margin-bottom: 50px;
	margin-left: -15px;

	.btn {
		min-width: 120px;

		font-size: 16px;
		font-weight: bold;

		margin: 0 .375rem;
		padding: 1rem;

		@media (max-width: 375px) {
			min-width: 100px;

			margin: 0 .125rem;

			padding: .75em .5em;

			font-size: 15px;
		}
	}
}
